p{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

#background{
    top: 50px;
    margin-left: 5%;
    position: absolute;
    white-space: pre;

}

pre{
    font-family: 'Courier Prime', Courier New, Courier, monospace;
    white-space: pre;
    font-size: 10px;
    width: 1200px;
    height: 2100px;
    text-align: center;
}

.icons{
    width: 120px;
    text-align: center;
    position: absolute;
    cursor:move;
}

#illustrations{
top:85px;
}

#design{
    top:200px;  
}

#books{
    top:315px;  
}

#sites{
    top:430px;
}





