p{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.div_container{
    position: relative;
    width: 100%;
    height: 1800px;
}

#background{
    height: 1700px;
    white-space: pre;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

pre{
    font-family: 'Courier Prime', Courier New, Courier, monospace;
    white-space: pre;
    font-size: 10px;
    width: 1200px;
    height: 1700px;
    text-align: center;
    position: absolute;
    top: 40px;
}

#header{
    top: 0px;
    margin-left: 25px;
    position: absolute;
    width: 100%;
}

#div_head1{
    width: 33%;
    float: left;
	clear: right;
}
#div_head2{
    width: 33%;
    float: left;
	clear: right;
}
#div_head3{
    width: 33%;
    float: left;
	clear: right;
}

.icons{
    width: 120px;
    text-align: center;
    position: absolute;
    cursor:move;
    z-index: 1;
}

#illustrations{
top:65px;
}

#design{
    top:180px;  
}

#books{
    top:295px;  
}

#sites{
    top:410px;
}

#monstercansgif{
    position: absolute;
    margin-left: 75%;
    top:200px;
}  

#unknownfuturegif{
    position:absolute;
    margin-left:45%;
    top:500px;
}





